---
import HistoryList from "../../components/dashboard/HistoryList";
import GitIcon from "../../components/icons/GitIcon";
import DashboardLayout from "../../layouts/DashboardLayout.astro";

const applicationVersion = process.env.npm_package_version;
---

<DashboardLayout>
  <div slot="header" class="flex items-center justify-between">
    <h1 class="text-2xl font-medium">About</h1>
  </div>
  <div class="p-4 max-w-7xl mx-auto">
    <div class="grid place-content-center">
      <div
        class="rounded-lg p-4 flex flex-col items-center justify-center gap-4 border border-border-100 mb-2"
      >
        <div>
          <GitIcon />
        </div>
        <span class="text-2xl">GitSave</span>
      </div>
      <div class="text-center text-secondary">
        <p class="text-center">Version: {applicationVersion}</p>
        <a
          href="https://github.com/TimWitzdam/GitSave"
          target="_blank"
          class="hover:text-white hover:underline transition-colors">GitHub</a
        >
      </div>
    </div>
  </div>
</DashboardLayout>
