---
import HistoryList from "../../components/dashboard/HistoryList";
import ScheduleList from "../../components/dashboard/ScheduleList";
import ReloadIcon from "../../components/icons/ReloadIcon";
import DashboardLayout from "../../layouts/DashboardLayout.astro";
---

<title>Overview | GitSave</title>
<script>
  const reloadButton = document.getElementById("reload") as HTMLButtonElement;

  reloadButton.addEventListener("click", () => {
    document.dispatchEvent(new CustomEvent("reloadSchedules"));
  });
</script>

<DashboardLayout>
  <div slot="header" class="flex items-center justify-between">
    <h1 class="text-2xl font-medium">Overview</h1>
    <button
      id="reload"
      class="bg-bg-100 rounded-lg p-3 flex items-center justify-center"
    >
      <ReloadIcon />
    </button>
  </div>
  <div class="p-4 max-w-7xl mx-auto">
    <h2 class="text-2xl font-medium mb-4">Schedules</h2>
    <div class="mb-6">
      <ScheduleList client:load />
    </div>
    <h2 class="text-2xl font-medium mb-4">History</h2>
    <div>
      <HistoryList disablePaging client:load />
    </div>
  </div>
</DashboardLayout>
