---
import prisma from "../../prisma/client";

const users = await prisma.user.findMany({});
const userExists = users.length > 0;
---

<script is:inline define:vars={{ userExists }}>
  function getCookie(cookies, name) {
    const value = `; ${cookies}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop()?.split(";").shift();
  }

  const cookies = document.cookie;

  if (!userExists) {
    location.href = "/setup";
  } else if (getCookie(cookies, "auth_session")) {
    location.href = "/dashboard";
  } else {
    location.href = "/login";
  }
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>If you're not redirected, click <a href="/setup">here</a></h1>
  </body>
</html>
