---
import Layout from "../layouts/Layout.astro";
import GitIcon from "../icons/git.svg?raw";
import LoginForm from "../components/login/LoginForm";
---

<Layout>
  <div class="flex items-center justify-center h-screen px-4">
    <div>
      <div
        class="rounded-lg p-4 flex items-center gap-4 border border-border-100 mb-6"
      >
        <Fragment set:html={GitIcon} class="w-8 h-8" />
        <span class="text-2xl">GitSave</span>
      </div>
      <h1 class="text-center font-medium text-2xl mb-6">Sign in</h1>
      <LoginForm client:load />
    </div>
  </div>
</Layout>
