---
import Layout from "../layouts/Layout.astro";
import GitIcon from "../icons/git.svg?raw";
import BaseInput from "../components/BaseInput.tsx";
import BaseButton from "../components/BaseButton.tsx";
---

<Layout>
  <div class="flex items-center justify-center h-screen px-4">
    <div>
      <div
        class="rounded-lg p-4 flex items-center gap-4 border border-border-100 mb-6"
      >
        <Fragment set:html={GitIcon} class="w-8 h-8" />
        <span class="text-2xl">GitSave</span>
      </div>
      <h1 class="text-center font-medium text-2xl mb-6">Sign in</h1>
      <form action="submit" class="flex flex-col gap-4">
        <BaseInput type="text" placeholder="Username" />
        <BaseInput type="password" placeholder="Password" />
        <a
          class="text-secondary opacity-60 hover:opacity-100 transition-opacity"
          >Forgot password?</a
        >
        <BaseButton>Sign in</BaseButton>
      </form>
    </div>
  </div>
</Layout>
