---
import Layout from "../layouts/Layout.astro";
import GitIcon from "../components/icons/GitIcon";
import SetupComponent from "../components/Setup";
---

<title>Setup | GitSave</title>
<Layout>
  <div class="flex items-center justify-center h-screen px-4">
    <div>
      <div
        class="rounded-lg p-4 flex items-center gap-4 border border-border-100 mb-6 w-fit mx-auto"
      >
        <GitIcon />
        <span class="text-2xl">GitSave</span>
      </div>
      <SetupComponent client:load />
    </div>
  </div>
</Layout>
