---
import SettingsLayout from "../../../layouts/SettingsLayout.astro";
---

<script>
  if (window.innerWidth > 768) {
    window.location.href = "/dashboard/settings/user";
  }
</script>

<title>Settings | GitSave</title>
<SettingsLayout currentPage="overview" />
