---
import SettingsLayout from "../../../layouts/SettingsLayout.astro";
---

<title>Settings | GitSave</title>
<SettingsLayout currentPage="user">
  <div class="border border-border-200 p-4 rounded-xl bg-bg-200">test</div>
</SettingsLayout>
