---
import Layout from "./Layout.astro";
import GitIcon from "../components/icons/GitIcon";
import UserIcon from "../components/icons/UserIcon";
import BurgerMenuIcon from "../components/icons/BurgerMenuIcon";
import PhoneNavMenu from "../components/PhoneNavMenu";

const links = [
  { name: "Overview", href: "/dashboard/" },
  { name: "Schedules", href: "/dashboard/schedules/" },
  { name: "History", href: "/dashboard/history/" },
  { name: "Settings", href: "/dashboard/settings/" },
  { name: "About", href: "/dashboard/about/" },
];
---

<script>
  const phoneMenu = document.querySelector("#phone-nav-menu") as HTMLElement;
  const burgerMenu = document.querySelector(
    "#burger-menu"
  ) as HTMLButtonElement;
  const closeButton = document.querySelector(
    "#close-phone-nav-menu"
  ) as HTMLButtonElement;

  function togglePhoneMenu() {
    phoneMenu.classList.toggle("opacity-0");
    phoneMenu.classList.toggle("pointer-events-none");
  }

  burgerMenu.addEventListener("click", togglePhoneMenu);
  closeButton.addEventListener("click", togglePhoneMenu);

  const links = document.querySelectorAll(".nav-link");
  const currentPath = window.location.pathname;
  console.log(currentPath);

  links.forEach((link) => {
    if (link.getAttribute("href") === currentPath) {
      link.classList.add("border-border-100", "text-white", "bg-border-200");
    }
  });
</script>

<Layout>
  <div class="pt-4 px-4 bg-[#151515] border-b border-border-200">
    <div class="flex items-start justify-between md:mb-4">
      <div
        class="rounded-lg p-2 flex items-center justify-center gap-4 border border-border-100 mb-4 w-12 h-12 md:w-fit md:justify-normal"
      >
        <GitIcon />
        <span class="text-2xl hidden md:inline">GitSave</span>
      </div>
      <div class="flex items-center gap-4">
        <button
          class="rounded-full border border-border-100 flex items-center justify-center w-12 h-12"
        >
          <UserIcon />
        </button>
        <button
          id="burger-menu"
          class="rounded-full border border-border-100 flex items-center justify-center md:hidden w-12 h-12"
        >
          <BurgerMenuIcon />
        </button>
      </div>
    </div>
    <div class="hidden md:block">
      <div class="flex gap-4">
        {
          links.map((link) => (
            <a
              href={link.href}
              class="nav-link px-4 py-2 rounded-t-lg text-secondary border-t border-x border-transparent hover:border-border-100 hover:text-white hover:bg-border-200 transition-colors"
            >
              {link.name}
            </a>
          ))
        }
      </div>
    </div>
    <PhoneNavMenu {links} />
  </div>
  <div class="py-4 bg-[#151515] border-b border-border-200">
    <div class="px-4 max-w-7xl mx-auto">
      <slot name="header" />
    </div>
  </div>
  <slot />
</Layout>
