---
import Layout from "./Layout.astro";
import GitIcon from "../components/icons/GitIcon";
import UserIcon from "../components/icons/UserIcon";
import BurgerMenuIcon from "../components/icons/BurgerMenuIcon";
import PhoneNavMenu from "../components/PhoneNavMenu";

const links = [
  { name: "Overview", href: "/dashboard/overview" },
  { name: "Schedules", href: "/dashboard/schedules/" },
  { name: "History", href: "/dashboard/history/" },
  { name: "Settings", href: "/dashboard/settings/" },
];
---

<script>
  const phoneMenu = document.querySelector("#phone-nav-menu") as HTMLElement;
  const burgerMenu = document.querySelector(
    "#burger-menu"
  ) as HTMLButtonElement;
  const closeButton = document.querySelector(
    "#close-phone-nav-menu"
  ) as HTMLButtonElement;
  const userMenuButton = document.querySelector(
    "#user-menu-button"
  ) as HTMLButtonElement;
  const userMenu = document.querySelector("#user-menu") as HTMLElement;
  const logoutButton = document.querySelector(
    "#logout-button"
  ) as HTMLButtonElement;

  function togglePhoneMenu() {
    phoneMenu.classList.toggle("opacity-0");
    phoneMenu.classList.toggle("pointer-events-none");
  }

  burgerMenu.addEventListener("click", togglePhoneMenu);
  closeButton.addEventListener("click", togglePhoneMenu);

  const links = document.querySelectorAll(".nav-link");
  const currentPath = window.location.pathname;

  links.forEach((link) => {
    if (currentPath.startsWith(link.getAttribute("href"))) {
      link.classList.add("border-border-100", "text-white", "bg-border-200");
    }
  });

  userMenuButton.addEventListener("click", () => {
    userMenu.classList.toggle("hidden");
  });

  logoutButton.addEventListener("click", () => {
    document.cookie =
      "auth_session=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    window.location.href = "/login";
  });
</script>

<Layout>
  <div class="pt-4 px-4 bg-[#151515] border-b border-border-200">
    <div class="flex items-start justify-between md:mb-4">
      <div
        class="rounded-lg p-2 flex items-center justify-center gap-4 border border-border-100 mb-4 w-12 h-12 md:w-fit md:justify-normal"
      >
        <GitIcon />
        <span class="text-2xl hidden md:inline">GitSave</span>
      </div>
      <div class="flex items-center gap-4">
        <div class="relative">
          <button
            id="user-menu-button"
            class="rounded-full border border-border-100 flex items-center justify-center w-12 h-12"
          >
            <UserIcon />
          </button>
          <div
            id="user-menu"
            class="hidden absolute right-0 mt-2 z-10 border border-border-200 p-2 rounded-lg bg-bg-300 text-secondary"
          >
            <button
              id="logout-button"
              class="text-left rounded-lg hover:bg-bg-100 transition-colors p-2 px-4 w-full whitespace-nowrap"
            >
              Log out
            </button>
          </div>
        </div>
        <button
          id="burger-menu"
          class="rounded-full border border-border-100 flex items-center justify-center md:hidden w-12 h-12"
        >
          <BurgerMenuIcon />
        </button>
      </div>
    </div>
    <div class="hidden md:block">
      <div class="flex gap-4">
        {
          links.map((link) => (
            <a
              href={link.href}
              class="nav-link px-4 py-2 rounded-t-lg text-secondary border-t border-x border-transparent hover:border-border-100 hover:text-white hover:bg-border-200 transition-colors"
            >
              {link.name}
            </a>
          ))
        }
      </div>
    </div>
    <PhoneNavMenu {links} />
  </div>
  <div class="py-4 bg-[#151515] border-b border-border-200">
    <div class="px-4 max-w-7xl mx-auto">
      <slot name="header" />
    </div>
  </div>
  <slot />
</Layout>
